<div class="page-header">
    <h2>
        Use <span class="text-primary">NgSwitch</span> make this thing looks like link.
    </h2>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h3>This details page is another component -- adetails in Component Folder.</h3>
		<h4>The purpose of <span class="text-success">NgSwitch</span> is Hide and Show.</h4>
		<h4>Below is a simulated link</h4>
        <a class="general-atag" (click)="GoDetailsPage()">
			connect to Details page by using <span class="bg-primary">NgSwitch</span>
		</a>
    </div>
</div>
